apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: aemo-v2KK-hpa
  namespace: aemo-v2KK
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: aemo-v2KK
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
