apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: zemo-v6e-hpa
  namespace: zemo-v6e
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zemo-v6e
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
